html {
    background-color: white;
    align-content: center;
    font-family: "Poppins";
}

body {
    font-size: 16px;
    text-align: center;
    margin: auto;
}

a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #FF5733;
  }

header {
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
}


.home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    height: 925px;
}

.home .text{
    grid-column: 5 / 9;
    grid-row: 3 / span 2;
    align-items: center;
    justify-content: center;
    display: flex;
}

.home h1 {
    font-size: 144px;
    font-weight: "extra-bold";
    letter-spacing: 30px;
    margin: 0;
    padding: 0;
    color: #FF5733;
}

.home p {
    margin-top: 0;
}

.home .swag {
    grid-column: 2 / span 2;
    grid-row: 6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
}

.home .swag a:hover {
    color: #FF5733;
  }

/*about-me*/
.about-me {
    height: 925px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.about-me img {
    height: 600px;
}

.about-me h2 {
    color: #FF5733;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 44px;
    letter-spacing: 25px;
}

.about-me .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-me .right-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 600px;
}

.about-me .text-container {
    width: 600px;
    justify-self: start;
    margin: 0;
    height: 40%;
}

.about-me .skills-container {
    width: 600px;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
    
}

.about-me p {
    text-align: left;
}

#title {
    grid-column: 4 / span 4;
    grid-row: 1 / span 2;
    align-self: center;
}

#box1 {
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
    justify-self: center;
}

#box2 {
    grid-column: 5 / span 2;
    grid-row: 3 / span 1;
    background-color: #FF5733;
}

#box3 {
    grid-column: 7 / span 2;
    grid-row: 3 / span 1;
    justify-self: center;
}

#box4 {
    grid-column: 3 / span 2;
    grid-row: 4 / span 1;
    background-color: #FF5733;
}

#box5 {
    grid-column: 5 / span 2;
    grid-row: 4 / span 1;
    justify-self: center;
}

#box6 {
    grid-column: 7 / span 2;
    grid-row: 4 / span 1;
    background-color: #FF5733;
}

#box7 {
    grid-column: 3 / span 2;
    grid-row: 5 / span 1;
    justify-self: center;
}

#box8 {
    grid-column: 5 / span 2;
    grid-row: 5 / span 1;
    background-color: #FF5733;
}

#box9 {
    grid-column: 7 / span 2;
    grid-row: 5 / span 1;
    justify-self: center;
}


/*portfolios section*/
.portfolio-container {
    height: 925px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.layer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio {
    width: 350px;
    height: 300px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF5733;
    border-radius: 5%;
}

.portfolio p {
    color: white;
    font-size: 1.5rem;
}

.portfolio.one {
    background-image: url("../images/picture-of-earth.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 47, 255, 0.6);
}

.portfolio.two {
    background-image: url("../images/Capture.PNG");
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 255, 34, 0.6);
}

.portfolio-container h1 {
    font-size: 44px;
    color:#FF5733;
    margin-top: 0;
}

footer {
    height: 40px;
    display: flex;
    background-color: #FF5733;
    align-items: center;
    justify-content: center;
}